#game {
    display: none;
}

#presentation {
    color: white;
}

#square {
    position: absolute;
    background-image: url('fish.png');
    background-size: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
}
#wallTop {
    position: absolute;
    background-image: url('wallTexture.png');
    background-repeat: no-repeat;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 0;
    width: 70px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.9;
}

#wallBottom {
    position: absolute;
    background-image: url('wallTexture.png');
    background-repeat: no-repeat;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    height: 0;
    width: 70px;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.9;
}

#pointsDiv {
	position: fixed;
	float: right;
	font-size: 25px;
	color: white;
	z-index: 1;
}

#endGame {
	display: none;
	color: white;
	text-align: center;
	margin-top: 100px;
}

#retryButton {
	margin-top: 30px;
}

#dogFood {
    display: none;
    position: absolute;
    background-image: url('tortoise.png');
    background-size: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 0;
}
