#square {
    position: absolute;
    background-image: url('fish.png');
    background-size: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
}
#wallTop {
    position: absolute;
    background-color: red;
    height: 0;
    width: 70px;
    top: 0;
    right: 0;
    z-index: 0;
}

#wallBottom {
    position: absolute;
    background-color: red;
    height: 0;
    width: 70px;
    bottom: 0;
    right: 0;
    z-index: 0;
}

#pointsDiv {
	position: fixed;
	float: right;
	font-size: 25px;
	color: white;
	z-index: 1;
}

#endGame {
	display: none;
	color: white;
	text-align: center;
	margin-top: 100px;
}

#retryButton {
	margin-top: 30px;

}